<div>
    <nav>
      <ul class="navbar">
        <ul class="nav-home">
          <li><img routerLink="/"
            class="home"
            src="https://cdn-icons-png.flaticon.com/256/25/25694.png"
            alt="logo home"
        /></li>
          <li><a routerLink="/"> Home</a></li>
        </ul>
        <ul class="nav-products">
  <li><img routerLink="/productos"
    class="binoculars"
    src="https://cdn-icons-png.flaticon.com/256/126/126307.png"
    alt="logoproductos"
  /></li>
  <li><a routerLink="/productos">Prods. </a></li>
        </ul>
        <ul class="gestion"> 
          <li><img  routerLink="/gestion"
            class="wheel"
            src="https://i.pinimg.com/originals/06/aa/17/06aa17e1eca05e04aa16f0fa2279e37f.png"
            alt="logogestion"
        /></li>
          <li><a routerLink="/gestion"> Gestión</a></li>
        </ul>
      </ul>
    </nav>
  </div>
  