<!-- @for(product of productsList; track $index){<div>
    <p>{{product.name}}</p>
    <p>{{product.price}}</p>
    <p>{{product.size}}</p>
    <p>{{product.material}}</p>
    <img src="{{product.image}}" alt="{{product.name}}">
</div>
    } -->

    
 <!-- <div class="detalle">
        <img src="{{product.image}}" alt="{{product.name}}">
        <p>{{product.name}}</p>
        <h3>{{product.price}} €</h3>
        <p class="material"> {{product.material}}</p>
        <ul class="rating">
    
            <p class="size">{{product.size}} &#9733;</p> 
            <li><button routerLink="/productos">Volver</button></li>
        </ul>
    
    </div>  -->

HOLLAAA

<div>
    <img src="{{product.image}}">
</div>