<div class="footer">
    <div class="sigue">
      <p>Síguenos en:</p>
    </div>
    <div class="rrss">
      <ul>
        <nav>
          <li>
            <a href="https://twitter.com/home"> Twitter |</a>
            <a href="https://www.facebook.com/"> Facebook |</a>
            <a href="https://www.instagram.com/"> Instagram | </a>
            <a href="https://www.tiktok.com/"> TikTok </a>
          </li>
        </nav>
      </ul>
    </div>
    <div class="copy"><p>Copyright Shopéame ©2024</p></div>
  </div>
  