<div>
  <input type="text" placeholder = "Busca tu Ropa"  [(ngModel)]="searchProduct">
<button (click)="searchProducts()">Buscar</button>
<div>
  <div class="bg-white py-4 sm:py-6">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          style="color: Gray"
          class="text-3xl font-bold tracking-tight text-green-900 sm:text-4xl"
        >
          Productos
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Tu armario de ensueño, a solo un clic.
        </p>
      </div>

      <ul 
        role="list"
        class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-0 gap-y-0 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
      >
      @for(product of productsList; track $index) { <li v-for="person in people" :key="person.name">
        
        <ul role="list" class="mt-3 flex gap-x-3">
          <div class="m-2 space-y-2">
            <div
              class="group flex flex-col gap-1 rounded-lg p-5 text-gray"
              tabindex="1"
            >
              <div
                style="width: 320px"
                class="group relative m-0 flex h-72 w-72 rounded-xl ring-gray-900/5 sm:mx-auto sm:max-w-lg"
              >
                <div
                  class="z-10 h-full w-full overflow-hidden rounded-xl border border-gray-200 opacity-80 transition duration-300 ease-in-out group-hover:opacity-100 dark:border-gray-700 dark:opacity-70"
                >
                  <img
                    src="{{product.image}}"
                    class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110"
                    alt=""
                  />
                </div>
                <div
                  style="background-color: Gray; width: 70%"
                  class="p-3 rounded-xl opacity-60 absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110 group-hover:opacity-100"
                >
                  <h1 class="text-lg font-bold text-white">{{product.name}}</h1>

                  <h2 class="text-m font-light text-gray-200">{{product.price}} €</h2>
=======
                  <h2 class="text-m font-light text-gray-200">{{product.price}}</h2>
                  <button routerLink="/gestion/{{product.id}}">Editar</button>

                </div>
              </div>
            

              <div
                class="invisible h-auto max-h-0 p-5 items-center opacity-0 transition-all group-focus:visible group-focus:max-h-screen group-focus:opacity-100 group-focus:duration-1000"
              >
                <p
                  style="font-size: 0.9em"
                  v-html="This is all about John"
                ></p>
              </div>
            </div>
          </div>
        </ul>
      </li>

      }
       
      </ul>
  
    </div>
  </div>
</div>
